{% extends "base.html" %}
{% block content %}
<div class="container mt-5">

  <form action=""  method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Address</label>
      <input  class="form-control" name="account" id="exampleFormControlInput1" placeholder="Account Address">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Role (0->Reader, 1->Validator, 2->Publisher)</label>
      <textarea class="form-control" name="role" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock %}