{% extends "base.html" %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">title</label>
      <input  class="form-control" name="account" id="exampleFormControlInput1" placeholder="account">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">description</label>
      <textarea class="form-control" name="role" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Success</button>
  </form>
{% endblock %}