{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row  g-4">
      {% for new in news_feed %}
      <div class="col s4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">news</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{new}}</h6>
                  <a href="{% url 'report' nid=forloop.counter %}"><button type="button" class="btn btn-danger">Report</button></a>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}