{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
<form action="" method="post">
    {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-bold" style="font-weight: bold; font-size: larger;">Address to SignIn</label>
            <input class="form-control" name="address" id="exampleFormControlInput1" placeholder="Address">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}